<header>
    <div class="header">
        <img src="../../../assets/img/icono2.png">
        <div class="but">
            <form action="menu">
                <a href="/menu"><img src="../../../assets/img/menu.png"/></a>
            </form>
        </div>
    </div>
</header>
<body>
    <h2 class="title">ASIGNACIÓN DE VISITA</h2>
    <div id="contenedor">
        <div id="tabla1">
            <table style="border: solid 1px #000000; "> 
                <tr>
                    <th>Nombre</th>
                    <th>Status alta</th>
                    <th>Status visita</th>
                    <th>Asignar visita</th>
                    <th>Fecha de visita</th>
                </tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr><td>Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
            </table>
        </div>
    </div>
    <div class="forma">
        <div id="tabla2">
        <table style="border: solid 1px #000000;"><tr>
            <th>Nombre</th>
            <th>Status</th>
        </tr>
        <tr><td>Araceli Ramírez</td> <td>Disponible</td>
            <tr><td>Araceli Ramírez</td> <td>No disponible</td>
            <tr><td>Araceli Ramírez</td> <td>Disponible</td> 
            <tr><td>Araceli Ramírez</td> <td>Disponible</td> 
            <tr><td>Araceli Ramírez</td> <td>Disponible</td>
            <tr><td>Araceli Ramírez</td> <td>No disponible</td> 
            <tr><td>Araceli Ramírez</td> <td>Disponible</td> 
            <tr><td>Araceli Ramírez</td> <td>Disponible</td> 
            <tr><td>Araceli Ramírez</td> <td>Disponible</td>
            <tr><td>Araceli Ramírez</td> <td>No disponible</td> 
            <tr><td>Araceli Ramírez</td> <td>Disponible</td> 
            <tr><td>Araceli Ramírez</td> <td>Disponible</td> 
            <tr><td>Araceli Ramírez</td> <td>Disponible</td>
            <tr><td colspan="2"><input type="button" class="button" value="GUARDAR" OnClick="location.href='menu.html'"></td></tr>
            </table>
        </div>
    </div>
</body>
