.header{
    background: #23283D;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.but{
    float: right;
    padding: 0.5%;
    border-color: #23283D;
}
body{
    background-color: #FFF;
}

#contenedor {
    float: left;
    width: 100%;
}

#contenedor2 {
    float: right;
    width: 40%;
}

#tabla1 {
    float: left;
    width: 50%;
    font-family: Avenir-Next;
    font-size: 100%;
    text-align: left;
    overflow:scroll;
    height:450px; 
}
.title{
    color: #7E7E7E;
    font-family: Avenir-Next;
    text-align: center;
}
#tabla1 table {
    text-align: center;
}

#tabla1 table tr td {
    width: 300px
}

#tabla2 {
    float: left;
    width: 100%;
    font-family: Avenir-Next;
    font-size: 100%;
    text-align: left;
    overflow:scroll;
    height:450px;     
}

#tabla2 table {
    text-align: center;
}

#tabla2 table tr td {
    width: 300px
}
tr:hover td { 
    background: #3d3d3d; 
    color: #FFF;
}
table tr:nth-child(odd) {background-color: #E5E5E5;
    padding: 8%;
    border-bottom: 1px solid #fff;
    color: #7E7E7E;    
    border-top: 1px solid transparent; 
}
@font-face {
    font-family: Avenir-Next;
    src: url('../../../assets/fonts/AvenirNextLTPro-Regular.otf');
  }