<header>
    <div class="header">
        <img src="../../../assets/img/icono2.png">
        <div class="but">
            <form action="menu">
                <a href="/menu"><img src="../../../assets/img/menu.png"/></a>
            </form>
        </div>
    </div>
</header>
<body>
    <h2 class="title">ASIGNACIÓN DE VISITA</h2>
    <div id="contenedor">
        <div id="tabla1">
            <fieldset>
                <table> 
                    <tr>
                        <th>Nombre</th>
                        <th>Status alta</th>
                        <th>Status visita</th>
                        <th>Fecha de visita</th>
                    </tr>
                    <tr *ngFor="let cliente of registros">
                        <td>{{cliente.nombrepersona}} {{cliente.appaterno}} {{cliente.apmaterno}}</td> 
                        <td>Activo</td> <td>Sin visitador</td>  <td>{{cliente.fechavisita}}</td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    <div class="forma">
        <div id="tabla2">
        <fieldset>
            <table><tr>
                <th>Nombre</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let empleado of registrose"><td>{{empleado.nombrepersona}} {{empleado.appaterno}} {{empleado.apmaterno}}</td> 
                <td>Disponible</td>
                <tr><td colspan="2"><input type="button" class="button" value="GUARDAR" OnClick="location.href='menu.html'"></td></tr>
                </table>
        </fieldset>
        </div>
    </div>
</body>
