
<header>
    <div class="header">
        <img src="../../../assets/img/icono2.png">
        <div class="but">
            <form action="menu">
                <a href="/menu"><img src="../../../assets/img/menu.png"/></a>
            </form>
        </div>
    </div>
</header>
<body>
    <h2 class="title">ASIGNACIÓN DE VISITA</h2>
    <br>
    <div id="contendor">
        <div id="tabla1">
            <table style="border: solid 1px #000000; "> 
                <tr>
                    <th style="background-color: #FFF; color: #7e7e7e; border: solid 1px #000000; border-radius: 10px;">Nombre</th>
                    <th style="background-color: #fff; color: #7e7e7e; border: solid 1px #000000; border-radius: 10px;">Status alta</th>
                    <th style="background-color: #fff; color: #7e7e7e; border: solid 1px #000000; border-radius: 10px;">Status visita</th>
                    <th style="background-color: #fff; color: #7e7e7e; border: solid 1px #000000; border-radius: 10px;">Asignar visita</th>
                    <th style="background-color: #fff; color: #7e7e7e; border: solid 1px #000000; border-radius: 10px;">Fecha de visita</th>
                </tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> <td>Visitado</td> <td>Dalia Gómez</td> <td>24/junio/2021</td></tr>
            
            </table>
        </div>
    </div>
    <div id="contenedor2">
        
        <div id="tabla2">
        <table style="border: solid 1px #000000; "><tr>
            <th style="background-color: #23283D; color: #FFF; border-radius: 10px;">Nombre</th>
            <th style="background-color: #23283D; color: #FFF; border-radius: 10px;">Status</th>
        </tr>
        <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Disponible</td> 
            <tr> <td style="height:40px;">Araceli Ramírez</td> <td>No disponible</td> 
            <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> 
            <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> 
            <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td>
            <tr> <td style="height:40px;">Araceli Ramírez</td> <td>No disponible</td> 
            <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> 
            <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> 
            <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td>
            <tr> <td style="height:40px;">Araceli Ramírez</td> <td>No disponible</td> 
            <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> 
            <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td> 
            <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Alta</td>    
            <tr><td colspan="2"><input type="button" style="background-color: #23283D; color: #FFF; border-radius: 5px; width: 150px; height: 30px;" value="GUARDAR" OnClick="location.href='menu.html' "></td></tr>
                
            </table>
        </div>
        </div>
</body>
