.login-page {
    width: 400%;
    padding: 0% 0 0;
    margin: auto;
}
.header{
    background: #23283D;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.but{
    float: right;
    padding: 0.5%;
}
.form {
    float: left;
    font-family: Avenir-Next;
    background: #FFFFFF;
    width: 40%;
    margin: 1%;
    padding: 1%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    color: #7E7E7E;
}
.forma {
    float: right;
    align-content: left;
    position: relative;
    background: #FFFFFF;
    width: 51%;
    margin: 1%;
    height: 120vh;
    padding: 1%;
    text-align: right;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}
.video-wrap{
    text-align: center;
    
}
.controller button{
    width: 10%;
    border-radius: 60%;
    border: solid 0px;
    background-color: #FFF;
    position: absolute;
    top: 64.5%;
    left: 87%;
}
.mapa{
    height: 70vh;
    width: 100%;
}
.fotografia{
    position: absolute;
    top: 64.5%;
    left: 15%;
    height: 250px;
    width: 500px;
}

.title{
    color: #7E7E7E;
    font-family: Avenir-Next;
    text-align: center;
}
.form input {
    background: #f1f1f1;
    width: 100%;
    border: 0;
    margin: 0 0 3%;
    padding: 2%;
    box-sizing: border-box;
    font-size: 100%;
    border-radius: 5px;
    font-family: Avenir-Next;
}
.form-btn {
    color: #FFF;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #23283D;
    color: #fff;
    text-align: center;
    border-radius: 1vh;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
body {
    background: #FFFFFF;
}
@font-face {
    font-family: Avenir-Next;
    src: url('../../../assets/fonts/AvenirNextLTPro-Regular.otf');
}