
<header>
    <div class="header">
        <img src="../../../assets/img/icono2.png">
        <div class="but">
            <form action="menu">
                <a href="/menu"><img src="../../../assets/img/menu.png"/></a>
            </form>
        </div>
    </div>
</header>
<h3 class="title">SOLICITUD DE CRÉDITO</h3>
<body>
    <div container>
        <div class="logo-image"></div>
        <div class="form">
            <form (ngSubmit)= "registrar()"> 
                <fieldset>
                    <br><input style="width: 34.5%;" type="text" name="nombre" class="form-input"  placeholder="Nombre(s)" required  [(ngModel)]='data.nombrePersona' />&nbsp;
                    <input style="width: 31%;" type="text" name="apellidoPaterno" class="form-input"  placeholder="Apellido Paterno" required [(ngModel)]='data.apPaterno' />&nbsp;
                    <input style="width: 31%;" type="text" name="apellidoMaterno" class="form-input"  placeholder="Apellido Materno" required [(ngModel)]='data.apMaterno' />
                    <input style="width: 49%;" type="text" name="telefono" class="form-input"  placeholder="Teléfono" required [(ngModel)]='data.telefono' />&nbsp;
                    <input style="width: 49%;" type="text" name="empresa" class="form-input"  placeholder="Empresa" required [(ngModel)]='data.empresa' />
                    <br><input style="width: 49%;" type="number" name="sueldo" class="form-input"  placeholder="Sueldo $" required [(ngModel)]='data.sueldo' />&nbsp;
                    <input style="width: 49%;" type="text" name="monto" class="form-input"  placeholder="Monto a pagar $" required [(ngModel)]='data.pagoMax' />
                    <br><input type="text" name="anti" class="form-input"  placeholder="Antigüedad en la empresa" required [(ngModel)]='data.antiguedad' />
                    <br><input type="text" name="domicilio" class="form-input"  placeholder="Domicilio" required [(ngModel)]='data.colonia' />
                    <br><input style="width: 49%;" type="text" name="latitud" class="form-input"  placeholder="Latidud" required [(ngModel)]='data.latitud' />&nbsp;
                    <input style="width: 49%;" type="text" name="longitud" class="form-input"  placeholder="Longitud" required [(ngModel)]='data.longitud' />
                    <input class="form-btn" name="submit" type="submit" value="INGRESAR" style="background-color: #23283D;">
                </fieldset>
            </form>
        </div>
        <div class="forma">
            <form action="foto-form">
                <fieldset>
                    <div class="mapa">
                        <!--Aquí va el mapa-->
                      </div>
                    <fieldset>
                        <a href="foto-form.html"><img src="../../../assets/img/camara.png"></a>
                        <img src="../../../assets/img/ine.png" alt="">
                    </fieldset> 
                </fieldset>
            </form>
        </div>
    </div>
</body>

