
<header>
    <div class="header">
        <img src="../../../../../assets/img/icono2.png">
        <div class="but">
            <form action="menu">
                <a href="/reportes"><img src="../../../../../assets/img/menu.png"/></a>
            </form>
        </div>
    </div>
</header>
<body>
    <div class="menu-form">
        <div class="container">
            <div class="loader">
                <div class="img">
                    <h1>PROCESO EXITOSO</h1>
                    <img src="../../../../../assets/img/bien.png">
                    <div class="boton">
                        <br><input type="button" value="DESCARGAR" name="sesion" OnClick="location.href=''">
                    </div>
                </div>
            </div>
            <!--img src="../../../../../assets/img/bien.png"-->
            
        </div>
    </div>
</body>