
<header>
    <div class="header">
        <img [src]="rutaIMG + '/icono2.png'">
        <div class="but">
            <form action="menu">
                <a href="/reportes"><img [src]="rutaIMG + '/menu.png'"/></a>
            </form>
        </div>
    </div>
</header>
<body>
    <div class="menu-form">
        <div class="container">
            <div class="loader">
                <div class="img">
                    <h1>PROCESO EXITOSO</h1>
                    <img [src]="rutaIMG + '/bien.png'">
                    <div class="boton">
                        <br><input type="button" value="DESCARGAR" name="sesion" (click)="descargar()">
                    </div>
                </div>
            </div>
            <!--img src="../../../../../assets/img/bien.png"-->
            
        </div>
    </div>
</body>