.login-page {
  padding-top: 2%;
  padding-left: 33%;
  width: 20%;
}
.form {
  font-family: Avenir-Next;
  background: #FFFFFF;
  width: 140%;
  text-align: center;
  box-shadow: 0 0 2vh 0 rgba(0, 0, 0, 0.2), 0 5% 5% 0 rgba(0, 0, 0, 0.24);
  border-radius: 1vh;
  color: #7E7E7E;
  padding: 5%;
}
.form input {
  font-family: Avenir-Next;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 5%;
  padding: 3%;
  box-sizing: border-box;
  font-size: 100%;
  border-radius: 1vh;
  width: 90%;
}
.form-btn{
  font-family: Avenir-Next; 
  background-color: #23283D;
  color: #FFF;
}
body {
  background-image: linear-gradient(#23283D, transparent), url('../../assets/img/fondo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
  height: 100vh;
}
input[type="text"] { 
  font-family: Avenir-Next;
  width: 100%;
  border-radius: 1vh;
  
}
input[type="text"]:focus {
  border-color: #23283D;
  box-shadow: 0 0 0.5vh 0.5vh #23283D;
}
.inputWithIcon input[type="text"] {
  padding-left: 5vh;
  background-image: url(../../assets/img/usuario.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
input[type="password"] {
    font-family: Avenir-Next;
    width: 100%;
    border-radius: 1vh;
}
input[type="password"]:focus {
  border-color: #23283D;
  box-shadow: 0 0 0.5vh 0.5vh #23283D;
}
.inputWithIcon input[type="password"] {
  padding-left: 5vh;
  background-image: url(../../assets/img/key.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.inputWithIcon input[type="text"]:focus + i {
  color: #23283D;
}
.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9vh 4vh;
  border-radius: 1vh 0 0 1vh;
}
.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #23283D;
}
@font-face {
  font-family: Avenir-Next;
  src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf');
}
.imagen{
  padding-top: 3%;
  padding-left: 44%;
}