<header>
    <div class="header">
        <img [src]="rutaIMG + '/icono2.png'">
        <div class="but">
            <form action="menu">
                <a href="/Prototipo_web/#/menu"><img [src]="rutaIMG + '/menu.png'" /></a>
            </form>
        </div>
    </div>
</header>

<body>
    <h2 class="title">CONSULTA GENERAL</h2> 
    <div class="tooltip">
        <div class="input">
            <span class="tooltiptext">Recuerda que la búsqueda debe ser por nombre del cliente</span>
            <input type="text" class="forms-control" placeholder="BUSCAR" [(ngModel)]="filterpost" name="filterpost"  />
        </div>
    </div><br>
    <br>
    <div id="contenedor">
        <fieldset>
            <div id="tabla1">
                <table style="border: solid 0px" id="tablaConsulta">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Domicilio</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                            <th>Antigüedad</th>
                            <th>Empresa</th>
                            <th>Fecha de alta</th>
                            <th>Status visita</th>
                            <th>Sueldo</th>
                            <th>Pago máx.</th>
                            <th>Teléfono</th>
                            <th>Comentario</th>
                        </tr>
                    </thead>
                    
                    <tr *ngFor="let cliente of clientes | filter: filterpost" >
                        
                        <td>{{cliente.nombrepersona }} {{cliente.appaterno}} {{cliente.apmaterno}}</td>
                        <td>{{cliente.calle}} {{cliente.numext}} {{cliente.numint}} {{cliente.colonia}} {{cliente.codigopostal}} {{cliente.ciudad}} {{cliente.estado}}</td>
                        <td>{{cliente.latitud}}</td>
                        <td>{{cliente.longitud}}</td><td>{{cliente.antiguedad}}</td>
                        <td>{{cliente.empresa}}</td>
                        <td>{{cliente.fechaalta}}</td>
                        <td>{{cliente.estatusvisita}}</td>
                        <td>{{cliente.sueldo}}</td>
                        <td>{{cliente.pagomax}}</td>
                        <td>{{cliente.telefono}}</td>
                        <td>{{cliente.comentario}}</td>
                    </tr>
                </table>
            </div>
        </fieldset>
        
    </div>
</body>