
<header>
    <div class="header">
        <img src="../../../assets/img/icono2.png">
        <div class="but">
            <form action="menu">
                
                <a href="/menu"><img src="../../../assets/img/menu.png"/></a>
            </form>
        </div>
    </div>
</header>
<body>
    <h2 class="title">CONSULTA GENERAL</h2>
    <br>
    <div id="contendor">
        <div id="tabla1">
            <table style="border: solid 0px"> 
                <tr>
                    <th style="background-color: #23283D; color: #fff; border: solid 1px #000000; border-radius: 10px;">Nombre</th>
                    <th style="background-color: #23283D; color: #fff; border: solid 1px #000000; border-radius: 10px;">Fecha de alta</th>
                    <th style="background-color: #23283D; color: #fff; border: solid 1px #000000; border-radius: 10px;">Fecha de visita</th>
                    <th style="background-color: #23283D; color: #fff; border: solid 1px #000000; border-radius: 10px;">Crédito autorizado</th>
                    <th style="background-color: #23283D; color: #fff; border: solid 1px #000000; border-radius: 10px;">Monto($)</th>
                    <th style="background-color: #23283D; color: #fff; border: solid 1px #000000; border-radius: 10px;">Visitador</th>
                    <th style="background-color: #23283D; color: #fff; border: solid 1px #000000; border-radius: 10px;">Motivo</th>
                </tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>Sí</td> <td>$5,000.00</td> <td>Dalia Gómez</td> <td></td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>Sí</td> <td>$5,000.00</td> <td>Dalia Gómez</td> <td></td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>Sí</td> <td>$5,000.00</td> <td>Dalia Gómez</td> <td></td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>Sí</td> <td>$5,000.00</td> <td>Dalia Gómez</td> <td></td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>No</td> <td>$00.00</td> <td>Dalia Gómez</td> <td>Se rechazó la visita</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>No</td> <td>$5,000.00</td> <td>Dalia Gómez</td> <td>No se encontró el domicilio</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>No</td> <td>$00.00</td> <td>Dalia Gómez</td> <td>El residente no vivía ahí</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>Sí</td> <td>$5,000.00</td> <td>Dalia Gómez</td> <td></td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>Sí</td> <td>$5,000.00</td> <td>Dalia Gómez</td> <td></td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>Sí</td> <td>$5,000.00</td> <td>Dalia Gómez</td> <td></td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>No</td> <td>$00.00</td> <td>Dalia Gómez</td> <td>Se abandonó la visita</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>Sí</td> <td>$5,000.00</td> <td>Dalia Gómez</td> <td></td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>No</td> <td>$00.00</td> <td>Dalia Gómez</td> <td>Se rechazó la visita</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>Sí</td> <td>$5,000.00</td> <td>Dalia Gómez</td> <td></td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>Sí</td> <td>$5,000.00</td> <td>Dalia Gómez</td> <td></td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>26/Junio/2021</td> <td>28/Junio/2021</td> <td>Sí</td> <td>$5,000.00</td> <td>Dalia Gómez</td> <td></td></tr>
            
            </table>
        </div>
    </div>
   
</body>
