
<header>
    <div class="header">
        <img src="../../assets/img/icono2.png" class="imagen">
        <div class="but">
            <form action="menu">
                <a (click)="logout()" ><img src="../../assets/img/salida.png"/></a>
            </form>
        </div>
    </div>
</header>
<body>
    <div contenedor>
        <div class="menu-page">
            <div class="form">
                <H4>MENÚ</H4>
                <form class="menu-form">
                    <a [routerLink]="['/solicitudCredito']"><img src="../../assets/img/solicitud.png"></a>&nbsp;
                    <a [routerLink]="['/asignarVisita']"><img src="../../assets/img/asignacion.png"></a>&nbsp;
                    <a [routerLink]="['/aprobarCredito']"><img src="../../assets/img/aprobacion.png"></a>&nbsp;
                    <a [routerLink]="['/usuario']"><img src="../../assets/img/usuarios.PNG"></a><br>
                    <br><a [routerLink]="['/consulta']"><img src="../../assets/img/consulta.PNG"></a>&nbsp;
                    <a [routerLink]="['/bitacora']"><img src="../../assets/img/bitacora.PNG"></a>&nbsp;
                    <a [routerLink]="['/reportes']"><img src="../../assets/img/reportes.PNG"></a>&nbsp;
                    <a [routerLink]="['/perfil']"><img src="../../assets/img/perfil.png"></a>
                </form>
            </div>
        </div>
    </div>
</body>
