<header>
    <div class="header">
        <img [src]="rutaIMG + '/icono2.png'">
        <div class="but">
            <form>
                <a href="/Prototipo_web/#/menu"><img [src]="rutaIMG + '/menu.png'" /></a>
            </form>
        </div>
    </div>
</header>

<body>
    <div class="menu-form">
        <div>
            <h3 class="title">GENERA TU REPORTE</h3>
            <div class="menus"></div>
            <a href="/Prototipo_web/#/reporteExcel"><img [src]="rutaIMG + '/doc.png'"></a>&nbsp;
            <a href="/Prototipo_web/#/reportePDF"><img [src]="rutaIMG + '/pdf.png'"></a>
        </div>
    </div>
</body>