
<header>
    <div class="header">
        <img src="../../../assets/img/icono2.png">
        <div class="but">
            <form>
                <a href="/menu"><img src="../../../assets/img/menu.png"/></a>
            </form>
        </div>
    </div>
</header>
<body>
    <div class="menu-form">
        <div>
            <h3 class="title">GENERA TU REPORTE</h3>
            <a href="/reporteExcel"><img src="../../../assets/img/doc.png"></a>&nbsp;
            <a href="/reportePDF"><img src="../../../assets/img/pdf.png"></a>
        </div>
    </div>
</body>