.header{
    background: #23283D;
    
}
.but{
    float: right;
    padding: 0.5%;
    background-repeat: no-repeat;
}

.title{
    color: #7E7E7E;
    font-family: Avenir-Next;
    text-align: center;
}
.menu-form {
    position: absolute;
    top: 20%;
    left: 32%;
    height: 40%;
    width: 50%;
    background: #FFFFFF;
    max-width: 30%;
    margin: 0 auto 100px;
    padding: 2%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 1%;
    color: #000000;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
body{
    position: relative;
    background-image: linear-gradient(#23283D, transparent), url('../../../assets/img/fondoMR.png');
    background-position: center; 
    height: 91.4vh;
    align-items: center;
  }
a{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: #23283D;
}
@font-face {
    font-family: Avenir-Next;
    src: url('../../../assets/fonts/AvenirNextLTPro-Regular.otf');
}