.header{
    background: #23283D;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.but{
    float: right;
    padding: 0.5%;
    border-color: #23283D;
}
.form {
    float: left;
    font-family: Avenir-Next;
    position: relative;
    background: #FFFFFF;
    width: 40%;
    margin: 1%;
    padding: 1%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    color: #7E7E7E;
}
.forma {
    float: right;
    align-content: center;
    font-family: Avenir-Next;
    position: relative;
    background: #FFFFFF;
    width: 50.3%;
    margin: 1%;
    padding: 1%;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    color: #7E7E7E;
}
.button{
    background-color: #23283D; 
    color: #fff; 
    width: 200px; 
    height: 30px; 
    border-radius: 5px;
}
.form input {
    font-family: Avenir-Next;
    outline: 0;
    background: #f2f2f2;
    width: 500px;
    border: 0;
    margin: 0 0 3%;
    padding: 2%;
    box-sizing: border-box;
    font-size: 100%;
    border-radius: 5px;
}
.formulario{

    text-align: center;
}
.title{
    color: #7E7E7E;
    font-family: Avenir-Next;
    text-align: center;
}
.form select {
    font-family: Avenir-Next;
    outline: 0;
    background: #f2f2f2;
    width: 500px;
    border: 0;
    margin: 0 0 3%;
    padding: 2%;
    box-sizing: border-box;
    font-size: 100%;
    border-radius: 5px;
    align-content: center;
}
body{
    background-color: #fff;
    color: #7E7E7E;
    font-family: Avenir-Next;
}
#tabla2 {
    float: left;
    width: 700px;
    font-family: Avenir-Next;
    font-size: 100%;
    text-align: left;
    height:337px;  
}

#tabla2 table {
    text-align: center;
}

#tabla2 table tr td {
    width: 337px
}
table tr:nth-child(odd) {background-color: #E5E5E5;
    padding: 8%;
    border-bottom: 1px solid #fff;
    color: #7E7E7E;    
    border-top: 1px solid transparent; 
}
@font-face {
    font-family: Avenir-Next;
    src: url('../../../assets/fonts/AvenirNextLTPro-Regular.otf');
  }