
<header>
        <div class="header">
            <img src="../../../assets/img/icono2.png">
            <div class="but">
                <form action="menu">
                    <a href="/menu"><img src="../../../assets/img/menu.png"/></a>
                </form>
            </div>
        </div>
    </header>
    <h3 class="title">CREAR USUARIO</h3>
<body>
    <div container>
        <div class="logo-image"></div>
        <div class="form">
            <form action="aprobacion-form.html" class="formulario">
                <fieldset><br>
                    <input type="text" name="nombre" class="form-input" placeholder="Nombre completo"/>
                    <br><input type="email" name="usuario" class="form-input" placeholder="Correo electrónico"/>
                    <br><input type="password" name="contraseña" class="form-input" placeholder="Contraseña"/>
                    <select name="tipo" id="tipo">
                        <option value="supervisor">Supervisor</option>
                        <option value="validador">Validador</option>
                        <option value="visitador">Visitador</option>
                    </select>
                    <input type="button" class="button" style="background-color: #23283D; color: #fff; width: 200px; height: 30px; border-radius: 5px; padding-top: 1%;" value="CREAR" name="guardar" OnClick="location.href='crearUs.html' ">
                </fieldset>
            </form>
        </div>
        <div class="forma">
            <div id="tabla2">
            <table style="border: solid 1px #000000; height: 100%; align-content: center;"><tr>
                <th style="background-color: #23283D; color: #FFF; border-radius: 10px; height: 30px;">Usuarios</th>
                <th style="background-color: #23283D; color: #FFF; border-radius: 10px;">Tipo</th>
            </tr>
            <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Supervisor</td> 
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Supervisor</td> 
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Validador</td> 
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Validador</td> 
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Visitador</td>
                <tr> <td style="height:40px;">Araceli Ramírez</td> <td>Supervisor</td> 
                </table>
            </div>
            </div>
        </div>
        
</body>
