
<header>
    <div class="header">
        <img src="../../../../assets/img/icono2.png">
        <div class="but">
            <form>
                <a href="/reportes"><img src="../../../../assets/img/menu.png"/></a>
            </form>
        </div>
    </div>
</header>
<body>
    <div class="menu-form">
        <div class="container">           
            <div class="img">
                <h1>GENERANDO REPORTE EXCEL</h1>
                <img src="../../../../assets/img/cargando1.gif">
                <h2>ESPERE UN MOMENTO...</h2>
            </div>
        </div>
    </div>
</body>

