.title{
    color: #7E7E7E;
    font-family: Avenir-Next;
    text-align: center;
}
.header{
    background: #23283D;
    box-shadow: 0 0 20vh 0 rgba(0, 0, 0, 0.2), 0 1vh 1vh 0 rgba(0, 0, 0, 0.24);
}
.but{
    float: right;
    padding: 1vh;
    background-repeat: no-repeat;
}
.user-form {
    font-family: Avenir-Next;
    background: #FFFFFF;
    height: 72vh;
    width: 70%;
    margin: 0 auto 0vh;
    padding: 1%;
    box-shadow: 0 0 2vh 0 rgba(0, 0, 0, 0.2), 0 0.5vh 0.5vh 0 rgba(0, 0, 0, 0.24);
    border-radius: 1%;
}  
.foto {
  padding-top: 2vh;
  padding-left: 35vh;
}
.form {
  float: left;
  font-family: Avenir-Next;
  background: #FFFFFF;
  margin: 0%;
  padding: 0%;
  color: #7E7E7E;
  padding-left: 5%;
}
img{
  padding-left: 5vh;
}
.form2 {
  padding-left: 33%;
  background: #FFFFFF;
  margin: 1%;
}
.form2 input{ 
  font-family: Avenir-Next;
}
.form input {
  font-family: Avenir-Next;
  background: #f2f2f2;
  border: 0;
  margin: 0 0 5%;
  padding: 1%;
  box-sizing: border-box;
  font-size: 100%;
  border-radius: 1vh;
  height: 5vh;
}
.botonGris input{
  box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.25);
  background-color: #7E7E7E;
  color: #FFFFFF;
  border-radius: 1vh;
  width: 40vh;
  height: 5vh;
  border: 0ch;
}
.botonVerde input{
  box-shadow: 0vh 4vh 4vh rgba(0, 0, 0, 0.25);
  background-color: #1e5e36;
  color: #FFFFFF;
  border-radius: 1vh;
  width: 40vh;
  height: 5vh;
  border: 0ch;
}
@font-face {
  font-family: Avenir-Next;
  src: url('../../../assets/fonts/AvenirNextLTPro-Regular.otf');
}