<header>
    <div class="header">
        <img src="../../../assets/img/icono2.png">
    </div>
</header>
<body>
    <h2 class="title">MI PERFIL</h2>
    <div class="user-form">
        <div class="form">
            <label>Nombre: </label><br><input type="text" name="nombre" id="nombre" style="height: 40px;" required>
            <br><label>Domicilio:</label><br><input type="email" name="correo" id="correo" style="height: 40px;" required>
            <h4 class="title1">GEO CRÉDITOS</h4>
            <label>Foto de perfil:</label><input type="file" id="foto" name="foto" style="height: 40px;" required>
            <input type="button" style="background-color: #23283D; color: #FFF; width: 200px; font-size: 10px; height: 40px;" value="REGRESAR A MENÚ" name="menu" OnClick="location.href='menu.html' ">
            <br><input type="button" style="background-color: #7E7E7E; color: #FFF; width: 200px; font-size: 10px; height: 40px;" value="CERRAR SESIÓN" name="sesion" OnClick="location.href='' ">
        </div>
    </div>
</body>
