<header>
    <div class="header">
        <img [src]="rutaIMG + '/icono2.png'">
        <div class="but">
            <form action="menu">
                <a href="/Prototipo_web/#/menu"><img [src]="rutaIMG + '/menu.png'" /></a>
            </form>
        </div>
    </div>
</header>
<h2 class="title">APROBACIÓN DE CRÉDITO</h2>

<body>
    <div id="contenedor">
        <div id="tabla1">
            <fieldset>
                <table>
                    <tr>
                        <th>Nombre completo</th>
                        <th>Domicilio completo</th>
                    </tr>
                    <tr *ngFor=" let cliente of clientelist" (click)="llenarcampos(cliente.nombrepersona,cliente.appaterno, cliente.apmaterno, cliente.idcliente)"
                    (click)="domicilio(cliente.calle,cliente.numext,cliente.numint,cliente.colonia,cliente.codigopostal,cliente.ciudad,cliente.estado)"
                    (click)="resto(cliente.latitud, cliente.longitud, cliente.fotocasa, cliente.comentariovisitante, cliente.firma)"
                    >
                        <td>{{cliente.nombrepersona}} {{cliente.appaterno}} {{cliente.apmaterno}}</td>
                        <td>{{cliente.calle}} #{{cliente.numext}} {{cliente.numint}},{{cliente.colonia}},{{cliente.codigopostal}},{{cliente.ciudad}},{{cliente.estado}}</td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    <div container>
        <div class="logo-image"></div>
        <div class="form">
            <form action="">
                <fieldset>
                    <br><input type="text" name="nombre" disabled class="form-input"  placeholder="Nombre completo" [value]="clientesel.nombre + ' '+ clientesel.app+' '+ clientesel.apm"/>
                    <br><input type="text" name="domiclio" disabled class="form-input" placeholder="Domicilio" [value]="direccion"/>
                    <br><input style="width: 48%;" type="text" disabled name="latitud" class="form-input" placeholder="Latidud" [value]="latitud"/>&nbsp;&nbsp;
                    <input style="width: 48%;" type="text" disabled name="longitud" class="form-input" placeholder="Longitud" [value]="longitud"/>
                    <br><br><label for="credito">¿Se le otorgará el crédito?</label>
                    <input type="radio" name="credito" value="Si" style="width: 50px;" (click)="credito(1)" />Si
                    <input type="radio" name="credito" value="No" style="width: 50px;" (click)="credito(2)">No
                    <br><label for="razon">Comentario del visitante:</label>
                    <br><textarea name="razon" rows="11" cols="70" disabled [value]="comen"></textarea>
                </fieldset>
            </form>
        </div>
        
        <div class="forma">
            <form action="foto-form">
                <div class="casa">
                    <label for="casa">Fotografía de la casa:</label>
                    <br>
                    <img [src]="foto" width="400px" height="250px">
                </div>
                <br>
                <div class="firma">
                    <label for="firma">Firma:</label><br>
                    <img [src]="firma" width="500px" height="150px" >
                </div>
                <br><input type="button" style="font-family: Avenir-Next; background-color: #23283D; color: #fff; width: 200px; height: 30px; border-radius: 5px;" value="GUARDAR" name="guardar" (click)="regCredito()" >
            </form>
        </div>
    </div>
</body>