<header>
    <div class="header">
        <img src="../../../assets/img/icono2.png">
        <div class="but">
            <form action="menu">
                <a href="/menu"><img src="../../../assets/img/menu.png"/></a>
            </form>
        </div>
    </div>
</header>
<h2 class="title">APROBACIÓN DE CRÉDITO</h2>
<body>
    <div id="contenedor">
        <div id="tabla1">
            <fieldset>
                <table> 
                    <tr>
                        <th>Nombre completo</th>
                        <th>Domicilio completo</th>
                    </tr>
                    <tr><td>Héctor Ramírez</td><td>Héctor Ramírez</td></tr>
                    <tr><td>Héctor Ramírez</td><td>Héctor Ramírez</td></tr>
                    <tr><td>Héctor Ramírez</td><td>Héctor Ramírez</td></tr>
                    <tr><td>Héctor Ramírez</td><td>Héctor Ramírez</td></tr>
                    <tr><td>Héctor Ramírez</td><td>Héctor Ramírez</td></tr>
                    <tr><td>Héctor Ramírez</td><td>Héctor Ramírez</td></tr>
                </table>
            </fieldset>
        </div>
    </div>
    <div container>
        <div class="logo-image"></div>
        <div class="form">
            <form action="aprobacion-form.html">
                <fieldset>
                    <br><input type="text" name="nombre" class="form-input" placeholder="Nombre completo"/>
                    <br><input type="text" name="domiclio" class="form-input" placeholder="Domicilio"/>
                    <br><input style="width: 48%;" type="text" name="latitud" class="form-input" placeholder="Latidud"/>&nbsp;&nbsp;
                    <input style="width: 48%;" type="text" name="longitud" class="form-input" placeholder="Longitud"/>
                    <br><br><label for="credito">¿Se le otorgará el crédito?</label>
                    <input type="radio" name="credito" value="Si" style="width: 50px;">Si
                    <input type="radio" name="credito" value="No" style="width: 50px;">No
                </fieldset>
            </form>
        </div>
        <div class="forma">
            <form action="foto-form">
                <div class="casa">
                    <label for="casa">Fotografía de la casa:</label>
                    <textarea name="casa" rows="14" cols="93"></textarea>
                </div>
                <br>
                <div class="razon">
                    <label for="razon">Motivo:</label>
                    <textarea name="razon" rows="7" cols="93"></textarea>
                </div>
                <br><input type="button" style="font-family: Avenir-Next; background-color: #23283D; color: #fff; width: 200px; height: 30px; border-radius: 5px;" value="GUARDAR" name="guardar" OnClick="location.href='menu.html' ">
            </form>
        </div>
      </div>
</body>