
<header>
    <div class="header">
        <img src="../../../assets/img/icono2.png">
        <div class="but">
            <form action="menu">
                <a href="/menu"><img src="../../../assets/img/menu.png"/></a>
            </form>
        </div>
    </div>
</header>
<body>
    <h2 class="title">BITÁCORA</h2>
    <br>
    <div id="contendor">
        <div id="tabla1">
            <table style="border: solid 0px"> 
                <tr>
                    <th style="background-color: #23283D; color: #fff; border: solid 1px #000000; border-radius: 10px;">Nombre</th>
                    <th style="background-color: #23283D; color: #fff; border: solid 1px #000000; border-radius: 10px;">Movimientos</th>
                    <th style="background-color: #23283D; color: #fff; border: solid 1px #000000; border-radius: 10px;">Módulo</th>
                    <th style="background-color: #23283D; color: #fff; border: solid 1px #000000; border-radius: 10px;">Fecha</th>
                </tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
                <tr> <td style="height:40px;">Araceli Ramírez</td>  <td>Registro de solicitud</td> <td>Solicitud de crédito</td> <td>26/Junio/2021</td></tr>
            
            </table>
        </div>
    </div>
   
</body>