<header>
    <div class="header">
        <img [src]="rutaIMG + '/icono2.png'" class="imagen">
        <div class="but">
            <form action="menu">
                <a (click)="logout()"><img [src]="rutaIMG + '/salida.png'" /></a>
            </form>
        </div>
    </div>
</header>

<body>
    <div contenedor>
        <div class="menu-page">
            <div class="form">
                <H4>MENÚ</H4>
                <form class="menu-form">
                    <div class="menus">
                        <a href="/Prototipo_web/#/solicitudCredito">
                            <img [src]="rutaIMG + '/solicitud.png'" class="logo" />
                        </a>&nbsp;
                        <a href="/Prototipo_web/#/asignarVisita">
                            <img [src]="rutaIMG + '/asignacion.png'">
                        </a>&nbsp;
                        <a href="/Prototipo_web/#/aprobarCredito">
                            <img [src]="rutaIMG + '/aprobacion.png'">
                        </a>&nbsp;
                        <a href="/Prototipo_web/#/usuario">
                            <img [src]="rutaIMG + '/usuarios.PNG'">
                        </a><br>
                        <br>
                        <a href="/Prototipo_web/#/consulta">
                            <img [src]="rutaIMG + '/consulta.PNG'">
                        </a>&nbsp;
                        <a href="/Prototipo_web/#/bitacora">
                            <img [src]="rutaIMG + '/bitacora.PNG'">
                        </a>&nbsp;
                        <a href="/Prototipo_web/#/reportes">
                            <img [src]="rutaIMG + '/reportes.PNG'">
                        </a>&nbsp;
                        <a href="/Prototipo_web/#/perfil">
                            <img [src]="rutaIMG + '/perfil.png'">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>