.header{
    background: #23283D;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.but{
    float: right;
    padding: 0.5%;
    background-repeat: no-repeat;
}
.container{
    background-image: linear-gradient();
}
.menu-form {
    position: absolute;
    top: 20%;
    height: 40%;
    width: 50%;
    font-family: sans-serif;
    position: relative;
    background: #FFFFFF;
    max-width: 200px;
    margin: 0 auto 100px;
    
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 1%;
    ;
}
body{
    position: relative;
    background-image: linear-gradient(#23283D, transparent), url('../../../../assets/img/fondoMR.png');
    background-position: center; 
    height: 91.4vh;
    align-items: center;
}