.header{
    background: #23283D;
    box-shadow: 0 0 1vh 0 rgba(0, 0, 0, 0.2), 0 1vh 1vh 0 rgba(0, 0, 0, 0.24);
}
.but{
    float: right;
    padding: 0.5%;
    background-repeat: no-repeat;
}
.container{
    background-image: linear-gradient();
}
.menu-form {
    position: absolute;
    top: 20%;
    width: 15%;
    font-family: sans-serif;
    position: relative;
    background: #FFFFFF;
    margin: 0 auto 100vh;
    padding: 60vh;
    text-align: center;
    box-shadow: 0 0 20vh 0 rgba(0, 0, 0, 0.2), 0 1vh 1vh 0 rgba(0, 0, 0, 0.24);
    border-radius: 1%;
}
.header{
    background: #23283D;
    box-shadow: 0 0 20vh 0 rgba(0, 0, 0, 0.2), 0 1vh 1vh 0 rgba(0, 0, 0, 0.24);
}
.but{
    float: right;
    padding: 0.5%;
    background-repeat: no-repeat;
}
.container{
    background-image: linear-gradient();
}
.menu-form {
    position: absolute;
    top: 20%;
    height: 35%;
    font-family: sans-serif;
    position: relative;
    background: #FFFFFF;
    margin: 0 auto 100vh;
    padding: 5vh;
    text-align: center;
    box-shadow: 0 0 20vh 0 rgba(0, 0, 0, 0.2), 0 1vh 1vh 0 rgba(0, 0, 0, 0.24);
    border-radius: 1%;
}
h1{
    font-family: Avenir-Next;
    font-size: 110%;
}
H2{
    font-family: Avenir-Next;
    font-size: 80%;
}
.boton input{
    box-shadow: 0px 4vh 4vh rgba(0, 0, 0, 0.25);
    background-color: #23283D;
    color: #FFFFFF;
    border-radius: 1vh;
    width: 30vh;
    height: 5vh;
    border: 0ch;
}
body {
    background-image: linear-gradient(#23283D, transparent), url('../../../../assets/img/fondoMR.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 94.2vh;
}
@font-face {
    font-family: Avenir-Next;
    src: url('../../../../assets/fonts/AvenirNextLTPro-Regular.otf');
  }