<header>
    <div class="header">
        <img src="../../../../assets/img/icono2.png">
        <div class="but">
            <form action="menu">
                
                <a href="/reportes"><img src="../../../../assets/img/menu.png"/></a>
            </form>
        </div>
    </div>
</header>
<body>
    <div class="menu-form">
        <div class="container">           
            <div class="img">
                <h1>GENERANDO REPORTE PDF</h1>
                <img src="../../../../assets/img/generando.png">
                <h2>ESPERE UN MOMENTO...</h2>
            </div>
               <script src="bundle.js"></script>
           <script type="text/javascript">
               $(window).load(function() {
                   $(".loader").fadeOut("slow");
               });
               </script>
        </div>
    </div>
</body>

