body{
    align-content: center;
    text-align: center;
    background-color: #23283D;
    align-content: center;
    padding-top: 13%;
    background-repeat: no-repeat;
    height: 73.5vh;
    background-position: center;
}
.imagen{
   display: block;
   margin: auto;
}