body{
    align-content: center;
    text-align: center;
    background-color: #23283D;
    align-content: center;
    padding: 7.3%;
    background-repeat: no-repeat;
    height: 69.7vh;
    background-position: center;
}

.imagen{
   display: block;
   margin: auto;
}